fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.29
pydantic==2.5.3
# tensorflow==2.15.0
tensorflow==2.5.0
facenet-pytorch==2.5.2
torch==2.1.2
numpy==1.26.4
# numpy==1.19.2
scikit-learn==1.4.0
requests==2.31.0
torchvision==0.16.2
alembic==1.13.1
SQLAlchemy
SQLAlchemy-Utils
# starlette==0.37.2
starlette==0.36.3
typing
typing-extensions
asyncpg==0.29.0
psycopg2-binary==2.9.9
opencv-python
Pillow==10.2.0
passlib==1.7.4
python-jose==3.3.0
inflect
python-dotenv==1.0.1
# python-multipart
python-multipart>=0.0.20
psutil
jsonschema
retinaface
# csv
# dlib

# facenet_pytorch>=2.5.3
# fastapi>=0.110.3
# pydantic>=2.7.1
# torch>=2.2.2
# t
# uvicorn>=0.28.1

# scikit-learn
# passlib
# python-jose
# opencv_python_headless>=4.9.0.80

# pydantic>=2.7.1
# torch>=2.2.2
# t
# uvicorn>=0.28.1

# scikit-learn
# passlib
# python-jose
